<div class="container">
    <mat-card>
            <mat-card-header>
            <h1>Welcome to Bottles dB</h1>
        </mat-card-header>
        <mat-card-content>

            <h3>Bottles dB is a place to track your wine cellar. 
                <br /> 
                Add bottles to your cellar with modifiable fields such as vintage, quantities, and notes about your wines. 
                <br /> 
                Bottles dB was built by wine nerds, for wine nerds.
            </h3>
        </mat-card-content>
        <mat-divider [inset]="true"></mat-divider>
        <mat-card-actions>
            <a mat-raised-button routerLink="/login" color="primary">LOGIN</a>
            <a mat-raised-button routerLink="/register" color="primary">REGISTER</a>
        </mat-card-actions>

    </mat-card>

</div>