<mat-toolbar color="primary">
    <button mat-icon-button class="example-icon" aria-label="user circle">
        <mat-icon>supervised_user_circle</mat-icon>
    </button>
    <span>Bottles dB</span>
    <span class="spacer"></span>
    <button mat-icon-button class="example-icon favorite-icon" aria-label="add a bottle of wine"(click)="openDialog()">
        <mat-icon>add</mat-icon>
    </button>
    <button mat-icon-button class="example-icon" aria-label="home screen to show all your wines">
        <mat-icon>home</mat-icon>
    </button>
</mat-toolbar>