<mat-toolbar color="primary">
    <a routerLink="" mat-icon-button aria-label="logo">
        <mat-icon>local_bar</mat-icon>
    </a>
    <span>Bottles dB</span>
    <span class="spacer"></span>
    <a mat-button routerLink="/login">Login</a>
    <a mat-button routerLink="/register">Register</a>
    <button mat-icon-button aria-label="add a bottle of wine"(click)="openDialog()">
        <mat-icon>add</mat-icon>
    </button>
    <a routerLink="/dashboard" mat-icon-button aria-label="home screen to show all your wines">
        <mat-icon>home</mat-icon>
    </a>
    
</mat-toolbar>